body {
	// background-color: crimson;
	background-image: url("../images/queenDarkRed.jpg");
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'Fugaz One', cursive;
	font-size: 50px;
	// background-color: #bf0303;
	margin: 0;
	padding: 30px 0 10px 0;
	color: white;
}

h2, h3, p, a {
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-family: 'Fugaz One', cursive;
	margin: 40px 0;
}

.wrapper {
	max-width: 800px;
	margin: 20px auto;
	background-color: white;
	padding: 0 30px;
	text-align: center;
	border-radius: 20px;
}

.hide {
	display: none;
}

header {
	text-align: center;
	// background-color: #642223;
	background-color: darken(#bf0303, 20);

	h2 {
		color: lighten(#bf0303, 30);
		padding: 20px;
		margin: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 1.2px;
	}
}

fieldset {
	border-top: none;
	border-bottom: 1px solid #DBDBDB;
	border-left: none;
	border-right: none;
}

	
.labels {
	display: flex;
	margin: 10px;
	justify-content: center;
		
	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 33.33%;
		padding: 20px;
		border-bottom: 1px solid white;
		transition: all .3s;
		cursor: pointer;

		&:hover {
			    transform: scale(1.1);
				}
		
		svg {
			width: 100px;
			height: 125px;
		}
	}

}

input[type="radio"] {
	opacity: 0;

	&:focus + label, &:hover + label {
		border-bottom: 1px solid #bf0303;
	}
	
	&:checked + label {
		fill: #bf0303;
		color: #bf0303;
	}
}

input[type="submit"], button {
	
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: 7px;
	background-color: #bf0303;
	padding: 30px;
	margin: 30px;
	font-family: 'Fugaz One', cursive;
	font-size: 22px;
	border-radius: 20px;
	// border-bottom: 5px;
	border-bottom-color: darken(#bf0303, 5);
	color: darken(#bf0303, 20);


		&:active {
			border-bottom: 7px solid white;
			transform: translateY(7px);
		}

		&:focus {
			outline: none;
			color: white;
		}
}

.dateResult {
	h2 {
		font-family: 'Fugaz One', cursive;
		font-size: 30px;
		padding: 30px 0;
		margin-bottom: 0;
	}
	
	p {
		font-size: 18px;
		line-height: 1.3;
		text-align: left;
	}

	a {
		text-align: left;
		font-size: 18px;
		color: #bf0303;
	}
}

.pickUpLine {
	text-align: left;
	margin-top: 60px;

	h2 {
		font-size: 20px;
		padding-bottom: 0;
		border-top: 1px solid #DBDBDB; 
	}

	h3 {
		margin: 20px 0;
		font-family: 'Roboto', sans-serif;
	}
}

.pickUpLine, .dateResult p, .dateResult a {
	max-width: 600px;
	margin: 20px auto;
}

.dateResult a {
	display: block;
}

footer {
	background-color: black;
	color: white;
	width: 100%;
	padding: 15px;

.iconCredit {
		font-size: 12px;
	p {
		padding: 0 30px 0 0;
		text-align: right;
	}
	a {
		color: #bf0303;
	}
}

	p {
		padding: 10px 0 10px 50px;
		margin: 0; 
	}
}